services:
  kafka_consumer:
    build:
      context: .
      dockerfile: consumer/Dockerfile
    container_name: kafka_consumer
    restart: "always"
    depends_on:
      kafka:
        condition: service_healthy 
      db:
        condition: service_healthy        
    networks:
      - dev_network
    env_file:
      - .env
    secrets:
      - db-password
    volumes:
      - ./data:/app/data
  kafka:
    image: apache/kafka:4.1.0
    container_name: kafka
    ports:
      - "9092:9092"   # outside Docker (host access)
      - "9093:9093"   # inside Docker network
    environment:
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9094
      KAFKA_LISTENERS: PLAINTEXT_INTERNAL://:9093,PLAINTEXT_EXTERNAL://:9092,CONTROLLER://:9094
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT_INTERNAL://kafka:9093,PLAINTEXT_EXTERNAL://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT_INTERNAL:PLAINTEXT,PLAINTEXT_EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT_INTERNAL
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_LOG_DIRS: /var/lib/kafka/data
    healthcheck:      
      test: ["CMD", "bash", "-c", "/opt/kafka/bin/kafka-topics.sh --bootstrap-server localhost:9093 --list || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    networks:
      - dev_network
    volumes:
      - kafka-data:/var/lib/kafka/data
  db:
      image: postgres:18
      container_name: postgres-db
      restart: always
      user: postgres
      secrets:
        - db-password
      volumes:
        - db-data:/var/lib/postgresql
      environment:
        - POSTGRES_DB=openFoam
        - POSTGRES_PASSWORD_FILE=/run/secrets/db-password
      expose:
        - 5432
      ports:
        - "5432:5432"
      networks:
        - dev_network
      healthcheck:
        test: ["CMD", "pg_isready"]
        interval: 10s
        timeout: 5s
        retries: 5
  backend:
    container_name: backend
    build:
      context: .
      dockerfile: api/Dockerfile
    ports:
      - 8001:8001
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    secrets:
      - db-password
    networks:
      - dev_network
    develop:
      watch:
        - action: rebuild
          path: .    
  frontend:
    container_name: frontend
    build:
      context: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend
    networks:
      - dev_network
  run_notifier:
    build:
      context: .
      dockerfile: notifier/Dockerfile
    container_name: run_notifier
    restart: "always"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    secrets:
      - db-password
    networks:
      - dev_network
    develop:
      watch:
        - action: rebuild
          path: .
    volumes:
      - ./data:/app/data
  mailpit:
    image: axllent/mailpit:latest
    container_name: mailpit
    restart: unless-stopped
    ports:
      - "1025:1025"   # SMTP
      - "8025:8025"   # Web UI
    environment:
      MP_SMTP_BIND_ADDR: 0.0.0.0:1025
      MP_UI_BIND_ADDR: 0.0.0.0:8025
    networks:
      - dev_network
volumes:
  db-data:  
  kafka-data:
secrets:
  db-password:
    file: db/password.txt
networks:
  dev_network:
    driver: bridge